Flask
cryptography
pycryptodome
flake8
mypy
pylint
psycopg2-binary
black
isort
flake8-docstrings
flake8-bugbear
flake8-comprehensions
flake8-simplify
flake8-builtins
flake8-quotes
flake8-rst-docstrings
flake8-string-format
flake8-todo
flake8-variables-names
flake8-class-attributes-order
flake8-functions
flake8-cognitive-complexity
flake8-expression-complexity
flake8-annotations-coverage
flake8-annotations-complexity
flake8-type-checking
flake8-typing-imports
flake8-use-fstring
flake8-use-pathlib
flake8-pytest-style
flake8-print
flake8-return
flake8-debugger
flake8-blind-except
flake8-bandit
flake8-secure-coding-standard
flake8-markdown
flake8-requirements
flake8-spellcheck
flake8-pytestrail
flake8-pytest
flake8-pytest-mark
flake8-aaa
flake8-alfred
flake8-assertive
flake8-broken-line
flake8-coding
flake8-copyright
flake8-future-import
flake8-import-order
flake8-literal
flake8-mutable
flake8-pep3101
flake8-polyfill
flake8-strict
flake8-string-format
flake8-tidy-imports
flake8-variables-names
pip-audit
# Add any project-specific dependencies here
matplotlib
pandas
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
numpy
scipy